fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-qdrant
langchain-text-splitters

qdrant-client

sentence-transformers

pandas
numpy

pytest
httpx